/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffd8d8;
    margin: 0;
    padding: 0;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Remove link default styles */
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  /* Individual card styling */
  .card-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Hover effect for cards */
  .card:hover {
    transform: scale(1.05);
  }
  

  /* Card body styling */
  .card-body {
    padding: 15px;
  }
  
  /* Card title styling */
  .card-title {
    font-size: 1.2em;
    margin: 0;
  }
  
  /* Card text styling */
  .card-text {
    color: #555;
    margin-top: 5px;
  }
  
 