
body {
    font-family: Arial, sans-serif;
    background-color: #ffd8d8;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card {
    border: 2px solid #ffa3a3;
    padding: 10px;
    background-color: #ffc4c4;
  }
  
 