<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MTG</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  
      <h1>MTG cards!</h1>
      <div class="card-container">
        
        <ul>
          {% for card in cards %}
            {% if card.id %}
              <li><a href="{{ url_for('card_detail', card_id=card.id) }}">{{ card.name }}</a></li>
            {% else %}
              <li>{{ card.name }} (No ID)</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>