<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MTG cards</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
  
      <h1>MTG cards!</h1>
      <div class="card-container">
        {% for card in cards %}
        <div class="card">
        <h2>{{ name }} </h2>
        <a
          href="{{ url_for('detail', id=card.id) }}"
          class="card-link"
        >
        </div>
        {% endfor %}
        
      </div>
  </body>
</html>